<body>
  <div id="top-zone">
    <h1>Cardboard App</h1>
  </div>
  <div id="edit-zone">
    <h2>Create Card</h2>
  </div>
  <div id="footer">
    <a [routerLink]="''">
      <button
        id="add-card"
        mat-button
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        Cancel
      </button>
    </a>

    <button
      id="add-card"
      mat-button
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      Save
    </button>
  </div>
</body>
